/* .featured .box {
  box-shadow: 0 0 20px 0 rgb(112 121 138);
  border-radius: 6px;
  text-align: center;
  padding: 40px;
  cursor: pointer;
}
.featured img {
  width: 65px;
  height: 65px;
  margin: auto;
}

.slick-active {
  width: max(300px) !important;
}
.slick-slide {
  max-width: 200px !important;
} */
